<div class="container">
  <div class="chef-image">
        <%= cl_image_tag @chef.photo_id.url(:thumnail),class: 'img-round'%>
  </div>
  <div class="chef-main">
    <div class="chef-info">
      <div class="chef-name">
        <h1><%= @chef.first_name %> <%= @chef.last_name %></h1>
        <h4><%= @chef.location %></h4>
      </div>
      <div class="chef-show-specialties">
      <h4><%= @chef.experience %> Years of Experience</h4>
      <h4><span class="label label-primary">French Cuisine</span></h4>
      </div>
      <div class="chef-bio">
        <h4>Bio</h4>
        <p><%= @chef.bio %></p>
      </div>
      <div class="chef-menus">
        <ul class="nav nav-tabs">
          <li role="presentation" id="tab-1" class="chef-menu-tab active"><strong>Simple</strong></li>
          <li role="presentation" id="tab-2" class="chef-menu-tab "><strong>Classic</strong></li>
          <li role="presentation" id="tab-3" class="chef-menu-tab "><strong>Grand Luxe</strong></li>
        </ul>
        <div id="tab-body-1" class="chef-menu-tab-body show">
          <div class="chef-menu-body">
          <h3>3 Courses</h3>
          <h4>45 &euro; / person</h4>
            Breakfast, Big Breakfast, Breakfast Wrap, Chicken McMuffin With Egg,<br>
            Beef, BBQ Double Burger, Big Mac Big Tasty <br>
            Chicken, 10pc Chicken McNuggets™ 4pc Chicken McNuggets
          </div>
        </div>
        <div id="tab-body-2" class="chef-menu-tab-body hidden">
          <div class="chef-menu-body">
          <h3>5 Courses</h3>
          <h4>120 &euro; / person</h4>
            Fish, Fillet-O-Fish <br>
            Wraps, Grilled Chicken Foldover <br>
            Vegetarian, Veggie Burger <br>
            Salads, Crispy Chicken Salad Green Salad <br>
            Sides, Corn Cup, McFries
          </div>
        </div>
        <div id="tab-body-3" class="chef-menu-tab-body hidden">
          <div class="chef-menu-body">
          <h3>7 Courses</h3>
          <h4>230 &euro; / person</h4>
            Breakfast, Big Breakfast <br>
            Breakfast Wrap, Chicken McMuffin With Egg,<br>
            Beef, BBQ Double Burger, Big Mac Big Tasty <br>
            Fish, Fillet-O-Fish <br>
            Wraps, Grilled Chicken Foldover <br>
            Vegetarian, Veggie Burger <br>
            Salads, Crispy Chicken Salad Green Salad
          </div>
        </div>
      </div>
      <div class="chef-reviews">
        <div class="chef-reviews-header">
          <h3>Reviews</h3><div class="chef-reviews-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        <ul class="inbox">

        <% @chef.bookings.each do |booking| %>
          <% booking.reviews.each do |review| %>
            <li class="review">
              <!-- Code your review here -->
              <%= cl_image_tag review.booking.user.photo_id, class: 'avatar-circle review-img' %>
              <div class="review-profile">
                <h5><strong><%= review.booking.user.first_name %> <%= review.booking.user.last_name %></strong></h5>
                <p><%= review.created_at %></p>
              </div>
              <div class="review-content">
                <p><%= review.comment %></p>
              </div>
              <div class="review-rating">
                <% review.rating.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>

      </ul>
      </div>
    </div>
    <div class="chef-booking-form">
      <div class="form-booking">
        <%= simple_form_for @booking do |f| %>
          <%= f.input :start_date, as: :date, html5: true, required: true %>
          <%= f.input :end_date, as: :date, html5: true, required: true %>
          <%= f.association :menu, collection: @menus, label_method: :category, selected: 1 %>
          <%= f.input :menu_count, as: :integer, label: 'Size', placeholder: '10', required: true %>
          <div id="cost" class="form-group">
              <span><strong>Cost:</strong> 0 &euro;</span>
          </div>
          <div class="text-center">
            <%= f.button :submit, 'Book', class: 'btn btn-lg btn-primary btn-book' %>
          </div>
        <% end %>
      </div>




      <!-- <form class="form-horizontal form-booking">
        <div class="form-group">
          <label for="begin-date" class="col-sm-2 control-label">Begin</label>
          <div class="col-sm-10">
          <input type="date" class="form-control" id="begin-date">
          </div>
        </div>
        <div class="form-group">
          <label for="end-date" class="col-sm-2 control-label">End</label>
          <div class="col-sm-10">
          <input type="date" class="form-control" id="end-date">
          </div>
        </div>
        <div class="form-group">
            <label for="menu" class="col-sm-2 control-label">Menu</label>
            <div class="col-sm-10">
              <select class="form-control" id="menu">
                <option value=""></option>
              </select>
            </div>
          </div>
        <div class="form-group">
          <label for="size" class="col-sm-2 control-label">Size</label>
          <div class="col-sm-4">
          <input type="number" class="form-control" id="size" placeholder="10">
          </div>

        </div>
        <div class="text-center">
          <button type="submit" action="" class="btn btn-lg btn-book btn-primary">Book</button>
        </div>
      </form> -->
    </div>
  </div>
</div>
