<div class="wrapper-forms text-center">

    <h1>Booking</h1><p>Created : <%= @booking.created_at.strftime('%A %b %d  %Y') %></p>

        <p class="confirmed-booking"><%= @booking.confirm == true ? 'Confirmed' : 'Pending' %></p>
        <p><%= @booking.menu.chef.first_name %> <%= @booking.menu.chef.last_name %></p>
        <p><%= @booking.user.first_name %> <%= @booking.user.last_name %></p>
        <p>Price <%= @booking.price %> €</p>
        <p>Menu <%= @booking.menu.category %></p>
        <p><%= @booking.menu_count %> Persons</p>
        <p>Start : <%= @booking.start_date.strftime('%A %b %d  %Y') %></p>
        <p>End : <%= @booking.end_date.strftime('%A %b %d  %Y') %></p>
        <% if @booking.comment == ""  %>
        <% else %>
         <p>Comments :</p>
          <p><%= @booking.comment %></p>
          <% end %>

</div>
