<div class="container">
  <div class="user-dashboard">
    <div class="row">
      <div class="user-name">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
      <div class="col-sm-6">
        <div class="user-bookings">
          <h3>My Bookings</h3>
          <ul class="user-dashboard-list">
            <% if @user.bookings.blank? || @user.bookings == nil %>
              <p>You have no bookings yet.</p>
            <% else %>
              <% @user.bookings.each do |booking| %>
                  <li class="">
                    <div class="wrapper-forms text-center">

                        <h1>Booking</h1><p>Created : <%= booking.created_at.strftime('%A %b %d  %Y') %></p>

                            <p class="confirmed-booking"><%= booking.confirm == true ? 'Confirmed' : 'Pending' %></p>
                            <p><%= booking.menu.chef.first_name %> <%= booking.menu.chef.last_name %></p>
                            <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
                            <p>Price <%= booking.price %> €</p>
                            <p>Menu <%= booking.menu.category %></p>
                            <p><%= booking.menu_count %> Persons</p>
                            <p>Start : <%= booking.start_date.strftime('%A %b %d  %Y') %></p>
                            <p>End : <%= booking.end_date.strftime('%A %b %d  %Y') %></p>
                            <% if booking.comment == ""  %>
                            <% else %>
                             <p>Comments :</p>
                              <p><%= booking.comment %></p>
                              <% end %>
                    </div>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="user-reviews">
          <h3>My Reviews</h3>
          <ul class="user-dashboard-list">
          <% if @reviews.blank? || @user.bookings == nil %>
            <p>You have no reviews yet.</p>
          <% else %>
            <% @reviews.each do |review| %>
              <li>
                <div>
                  <%= review.booking.menu.chef.first_name %>
                  <%= review.booking.menu.chef.last_name %>
                  <%= cl_image_tag review.booking.menu.chef.photo_id, class: 'avatar-circle review-img' %>
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= link_to 'Make A New Booking', chefs_path, class: 'btn btn-primary margin-btn' %>
  </div>
</div>
