<%= render 'partials/modal'  %>
<div class="banner">
  <div class="banner-content">
    <h1>ChefBookr</h1>
    <p>Get the best Gastronomic experience with us</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
    <form class="form-inline">
      <input class="form-control form-style" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary search-btn" type="submit">Search</button>
    </form>
  </div>
</div>




<div class="wrapper-card">
  <h2 class="text-center">Our Top Chefs</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="cocktail-card">
          <%= link_to "", :id => 'exampleModalLong', "data-toggle" => "modal", 'data-target' => '#exampleModalLong' do %>
         <div class="card-background">
            <p class="card-heading">Christian Rognstad</p>
            <p class="label-specialty">
            <span class="label label-default">French</span>
            <span class="label label-danger">Meat</span>
            <span class="label label-primary">Seafood</span> </p>
         </div>
         <% end %>
          <div class="card-bottom">
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
            <p class="chef-rating">*** <i class="fas fa-thumbs-up"></i></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="cocktail-card">
          <%= link_to "", :id => 'exampleModalLong', "data-toggle" => "modal", 'data-target' => '#exampleModalLong' do %>
         <div class="card-background">
            <p class="card-heading">Christian Rognstad</p>
            <p class="label-specialty">
            <span class="label label-default">French</span>
            <span class="label label-danger">Meat</span>
            <span class="label label-primary">Seafood</span> </p>
         </div>
         <% end %>
          <div class="card-bottom">
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
            <p class="chef-rating">*** <i class="fas fa-thumbs-up"></i></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="cocktail-card">
          <%= link_to "", :id => 'exampleModalLong', "data-toggle" => "modal", 'data-target' => '#exampleModalLong' do %>
         <div class="card-background">
            <p class="card-heading">Christian Rognstad</p>
            <p class="label-specialty">
            <span class="label label-default">French</span>
            <span class="label label-success">Traditionel</span>
            <span class="label label-primary">Seafood</span> </p>
         </div>
         <% end %>
          <div class="card-bottom">
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
            <p class="chef-rating">*** <i class="fas fa-thumbs-up"></i></p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </div>
</div>


