<%= render 'partials/modal'  %>
<div class="banner">
  <div class="banner-content">
    <h1>ChefBookr</h1>
    <p>Get the best Gastronomic experience with us</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
    <%= form_tag chefs_path, class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control form-style",
        placeholder: "Find a chef"
      %><%= submit_tag "Search",
        class: "btn btn-primary search-btn"
      %>
    <% end %>

<!--     <form class="form-inline">
      <input class="form-control form-style" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary search-btn" type="submit">Search</button>
    </form>
 -->
  </div>
</div>



<div class="wrapper-card">
  <h2 class="text-center">Our Top Chefs</h2>
  <div class="container">
    <div class="row  owl-carousel owl-theme">
      <% @chefs.each do |chef| %>
        <div class="col-xs-12">
            <div class="cocktail-card">
              <%= link_to chef_path(chef.id)  do %>

             <div class="card-background">
               <% chef.menus.each do |menu| %>
                  <%= cl_image_tag menu.photo_id, class: 'card-background' %>
                <% end %>
                <p class="card-heading"><%= chef.first_name %> <%= chef.last_name %></p>
                <p class="label-specialty">
                <span class="label label-primary">Seafood</span> </p>
             </div>
             <% end %>
              <div class="card-bottom">
                <%= cl_image_tag chef.photo_id.url(:bright_face), class: 'card-user' %>
                <%= link_to '', :id => 'exampleModalLong', "data-toggle" => "modal", 'data-target' => '#exampleModalLong' do %>
                    <div class="btn btn-success">Menu</div>
                <% end %>
                <!-- <p class="chef-rating">*** <i class="fas fa-thumbs-up"></i></p> -->
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>


