
<div class="banner">
  <div class="banner-content">
    <h1>ChefBookr</h1>
    <p>Get the best Gastronomic experience with us</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
    <form class="form-inline">
      <input class="form-control form-style" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0 search-btn" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Description Du Service</h3>
        <p>Le chef vient avec le nécessaire à la préparation du repas à l’heure convenue. Il prépare le repas dans votre cuisine, sert les convives à table et nettoie la cuisine avant de partir.</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>AMUSE-BOUCHE</h3>
        <p> Amuse-bouche au gré du marché de saison</p>

        <h3>ENTRÉE (AU CHOIX)</h3>

        <p>Tataki de bœuf au combava, vinaigrette figue-sésame, tuile parmesan-épices
        ou

        Crudités Melba de saison : Légumes et fruits du marché émincés, crème fouettée, velours de grenade
        ou

        Salade tiède de lentilles du Puy, à la cardamome verte, tomates confites, dés de haddock</p>
        <h3>PLAT (AU CHOIX)</h3>

        <P>
          Gigot d'agneau de 7h au miel, à la menthe et aux épices cuit en basse température
        ou

        Lapin à la vanille et aux figues ou aux abricots cuits en basse température
        ou

        Sauté de veau aux agrumes, légumes fondants
        ou

        Rôti de boeuf à la moutarde douce et aux épices
        ACCOMPAGNEMENT AU CHOIX (AU CHOIX)

        Poêlée de légumes du marché aux épices douces
        ou

        Riz au sésame torréfié ou riz à la noix de coco grillée
        ou

        Dhal de lentilles corail au citron vert, citronnelle et lait de coco</p>
        <h3>DESSERT (AU CHOIX)</h3>

       <p>Tartelette aux fruits de saison
        ou

        Galette des Reines à l'orange
        ou

        Charlotte aux fruits de saison ou chocolat-fruits de saison
        ou

        Mini Mont-Blanc à ma façon</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


  <div class="wrapper-card">
  <h2 class="text-center">Our Chefs</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= link_to "", :id => 'exampleModalLong', "data-toggle" => "modal", 'data-target' => '#exampleModalLong' do %>
          <div class="cocktail-card">
           <div class="card-background">
              <p class="card-heading">Best chef in France</p>
           </div>
            <div class="card-bottom">
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
              <p class="chef-rating">*** <i class="fas fa-thumbs-up"></i></p>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= link_to "", :id => 'exampleModalLong', "data-toggle" => "modal", 'data-target' => '#exampleModalLong' do %>
          <div class="cocktail-card">
           <div class="card-background">
              <p class="card-heading">Best chef in France</p>
           </div>
            <div class="card-bottom">
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
              <p class="chef-rating">*** <i class="fas fa-thumbs-up"></i></p>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= link_to "", :id => 'exampleModalLong', "data-toggle" => "modal", 'data-target' => '#exampleModalLong' do %>
          <div class="cocktail-card">
           <div class="card-background">
              <p class="card-heading">Best chef in France</p>
           </div>
            <div class="card-bottom">
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
              <p class="chef-rating">*** <i class="fas fa-thumbs-up"></i></p>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= link_to "", :id => 'exampleModalLong', "data-toggle" => "modal", 'data-target' => '#exampleModalLong' do %>
          <div class="cocktail-card">
           <div class="card-background">
              <p class="card-heading">Best chef in France</p>
           </div>
            <div class="card-bottom">
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
              <p class="chef-rating">*** <i class="fas fa-thumbs-up"></i></p>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= link_to "", :id => 'exampleModalLong', "data-toggle" => "modal", 'data-target' => '#exampleModalLong' do %>
          <div class="cocktail-card">
           <div class="card-background">
              <p class="card-heading">Best chef in France</p>
           </div>
            <div class="card-bottom">
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
              <p class="chef-rating">*** <i class="fas fa-thumbs-up"></i></p>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= link_to "", :id => 'exampleModalLong', "data-toggle" => "modal", 'data-target' => '#exampleModalLong' do %>
          <div class="cocktail-card">
           <div class="card-background">
              <p class="card-heading">Best chef in France</p>
           </div>
            <div class="card-bottom">
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
              <p class="chef-rating">*** <i class="fas fa-thumbs-up"></i></p>
            </div>
          </div>
         <% end %>
      </div>
    </div>
  </div>
  </div>


